/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-Nov-2018, 20:51:51
    Author     : diana
*/

body{
    background-color: grey;
}
div{
    width:100%;
    padding:20px;
    /*   background-color: grey;*/
}
.td img[src*='Giraffe']{
    width:45px;
    height:75px;
    /* height:90px;*/
}
.td img,img{
    width:45px;
    height: 45px;
}

.small{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.td{
    padding:5px;
    border:black solid 1px;
    border-radius: 3px;
    /*    background-color: white;*/
    width:47px;
    height:47px;
}
.td:hover{
    opacity: 0.5;
}
table {
    margin-left:auto;
    margin-right: auto;

    /*   margin-right: 200px;*/
}

.chosen{
    border:solid red 1px;
    background-color: lightsteelblue;
}
.timer{
    /*  position:absolute;
       top: 70px;
      right: 15px;*/
    margin-right: 20px;
    margin-top:20px;
    max-width:80%;
    padding:5px;
    border:solid black 2px;
    border-radius: 10px;
    background-color: whitesmoke;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    overflow: hidden;
    /*   padding:-5px;*/

}
.timer .clock{
    position:relative;
    /*  margin-left:-20px;
      margin-top:-20px;
      width:70px;*/
    margin-left:auto;
    margin-right: auto;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    width: 25%;    


}

footer{
    padding:50px;
    background-color: grey;
    text-align: center;
    margin-top: 50px;

}
nav{
    /* display :inline-block;*/
    width:100%;
    background-color: black;
    border:2px solid darkgrey;
    color:whitesmoke;
    padding-bottom: 2em;
    border-radius: 5px;
    /*  clear:both;*/
}


nav ul li{

    float :left;
    margin-left: 10%;
color:whitesmoke;
    list-style: none;
}
nav ul li a{
    color:whitesmoke;
    text-decoration: none;
}

.start{

}

input[type=radio] + label {
    padding:5px;  
    margin-top:25px;
    background-color: lightslategray;
    border-bottom: 1px solid black;
    border-right:1px solid black;

} 

input[type=radio]:checked + label {
    padding:5px;
    background-color: green;

} 
.formpart label{
    display: inline-block;
  
    margin-right: 3%;
    box-shadow: 2px 2px 2px darkslategrey;
}

.button{
    text-align: center;
    border-top: 1px lightgrey dashed;
    padding:5px;
}
.formpart{
    text-align: center;

    padding:5px;
}
button{
    color :black;
    padding:25px;
    background-image: linear-gradient( whitesmoke, grey);
    border-radius: 20px;
    box-shadow: 2px 2px 2px darkslategrey;
}

.help{
    text-align: center;
}